<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Talbot Machine Festival #2 2024</title>

    <meta name="description" content="Talbot Machine Festival #2 | 23 &amp; 24 août 2024 | Chapêlmêle, Alençon (61)" />
    <link rel="canonical" href="https://talbotmachine.fr/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/talbot-2024.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="shortcut icon" href="https://talbotmachine.fr/img/favicon.jpg" type="image/x-icon" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Talbot Machine Festival 2024" />
    <meta property="og:description" content="Talbot Machine Festival #2 | 23 &amp; 24 août 2024 | Chapêlmêle, Alençon (61)" />
    <meta property="og:site_name" content="Talbot Machine" />
    <meta property="og:url" content="https://talbotmachine.fr/" />

    <meta property="og:locale" content="fr" />
    <meta property="og:type" content="website" />
    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//stats.origamie.org/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body class="body">
<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden" version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="icon-facebook" viewBox="0 0 20 20">
            <path
                    d="M17 1h-14c-1.1 0-2 0.9-2 2v14c0 1.101 0.9 2 2 2h7v-7h-2v-2.475h2v-2.050c0-2.164 1.212-3.684 3.766-3.684l1.803 0.002v2.605h-1.197c-0.994 0-1.372 0.746-1.372 1.438v1.69h2.568l-0.568 2.474h-2v7h4c1.1 0 2-0.899 2-2v-14c0-1.1-0.9-2-2-2z">
            </path>
        </symbol>
        <symbol id="icon-instagram" viewBox="0 0 20 20">
            <path
                    d="M17 1h-14c-1.1 0-2 0.9-2 2v14c0 1.101 0.9 2 2 2h14c1.1 0 2-0.899 2-2v-14c0-1.1-0.9-2-2-2zM9.984 15.523c3.059 0 5.538-2.481 5.538-5.539 0-0.338-0.043-0.664-0.103-0.984h1.581v7.216c0 0.382-0.31 0.69-0.693 0.69h-12.614c-0.383 0-0.693-0.308-0.693-0.69v-7.216h1.549c-0.061 0.32-0.104 0.646-0.104 0.984 0 3.059 2.481 5.539 5.539 5.539zM6.523 9.984c0-1.912 1.55-3.461 3.462-3.461s3.462 1.549 3.462 3.461-1.551 3.462-3.462 3.462c-1.913 0-3.462-1.55-3.462-3.462zM16.307 6h-1.615c-0.382 0-0.692-0.312-0.692-0.692v-1.617c0-0.382 0.31-0.691 0.691-0.691h1.615c0.384 0 0.694 0.309 0.694 0.691v1.616c0 0.381-0.31 0.693-0.693 0.693z">
            </path>
        </symbol>
        <symbol id="icon-youtube" viewBox="0 0 20 20">
            <path
                    d="M10 2.3c-9.828 0-10 0.874-10 7.7s0.172 7.7 10 7.7 10-0.874 10-7.7-0.172-7.7-10-7.7zM13.205 10.334l-4.49 2.096c-0.393 0.182-0.715-0.022-0.715-0.456v-3.948c0-0.433 0.322-0.638 0.715-0.456l4.49 2.096c0.393 0.184 0.393 0.484 0 0.668z">
            </path>
        </symbol>
        <symbol id="icon-close" viewBox="0 0 32 32">
            <path
                    d="M16 0c-8.8 0-16 7.2-16 16s7.2 16 16 16c8.8 0 16-7.2 16-16s-7.2-16-16-16zM16 30.6c-8 0-14.6-6.6-14.6-14.6s6.6-14.6 14.6-14.6c8 0 14.6 6.6 14.6 14.6s-6.6 14.6-14.6 14.6z">
            </path>
            <path d="M23.6 7.3l-7.6 7.7-7.6-7.7-1.1 1.1 7.7 7.6-7.7 7.6 1.1 1.1 7.6-7.7 7.6 7.7 1.1-1.1-7.7-7.6 7.7-7.6z">
            </path>
        </symbol>
    </defs>
</svg>
<main>
    <div class="container__cover">
        <div class="parallax-wrapper box">
            <h1>
                <div class="top">
                    <div class="info">23-24 août 2024</div>
                    <div class="info">Chapêlmêle</div>
                    <div class="info">Alençon (61)</div>
                </div>
                <div class="middle title-2024">
                    <h1>Talbot Machine</h1>
                    <h1>Festival #2</h1>
                </div>
                <div class="bottom">
                    <a href="https://www.facebook.com/origa1000/" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="https://www.instagram.com/talbotmachine/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </h1>
        </div>
    </div>
    <section class="container__infos">
        <img style="opacity: 0" class="text-left" src="/images/talbot-2024/affiche.png" alt="" />

        <div class="text-right"  >
            <ul class="description">
                <li>Concerts</li>
                <li>Performances</li>
                <li>Ateliers et expositions</li>
                <li>Bar et restauration sur place</li>
                <li>Camping</li>
                <li>Entrée à prix libre</li>
            </ul>
        </div>
    </section>
    <section class="container__acces" id="access">
        <div class="infos-rows infos-date scroll-border">
            <div class="info-row">
                <div class="info-tiny">
                    <p>Vendredi 23 août</p>
                    <p>19:00 - 04:00</p>
                </div>
            </div>
            <div class="info-row">
                <div class="info-tiny">
                    <p>Samedi 24 août </p>
                    <p>16:00 - 04:00</p>
                </div>
            </div>
            <div class="info-row">
                <div class="info-tiny">
                    <p>41 Chemin des Châtelets</p>
                    <p>Alençon</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container__music all" id="music">
        <div class="container">
            <div class="artist__select selector">
                <div class="all">full line-up</div>
                <div class="vendredi">vendredi 23.08</div>
                <div class="samedi">samedi 24.08</div>
            </div>

            <div class="grid-list grid-list--artists">
                <div class="grid-top">
                    <div class="col-sm-6 col-md-4 col-lg-3 artist samedi artists">
                        <a data-modal="modal-adaoda" data-video="https://www.youtube.com/embed/mHVuzvJzQ9c">
                            <img class="photo" src="/images/talbot-2024/prog/adaoda.png" />

                            <div class="overlay">
                                <div>
                                    <div class="more"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 artist vendredi artists">
                        <a data-modal="modal-ceylon" data-video="https://www.youtube.com/embed/WtKUWdZqpNg">
                            <img class="photo" src="/images/talbot-2024/prog/ceylon.png" />

                            <div class="overlay">
                                <div>
                                    <div class="more"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 artist samedi artists">
                        <a data-modal="modal-dominique" data-video="https://www.youtube.com/embed/4a7XFLh3CZA?si=6MQcBJxkwUaWC6Rh ">
                            <img class="photo" src="/images/talbot-2024/prog/dominique.png" />

                            <div class="overlay">
                                <div>
                                    <div class="more"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 artist vendredi artists">
                        <a data-modal="modal-dona" data-video="https://www.youtube.com/embed/vczhK6kIcG8">
                            <img class="photo" src="/images/talbot-2024/prog/dona.png" />

                            <div class="overlay">
                                <div>
                                    <div class="more"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h1 style="font-size: 30px; margin-top: 5rem;">La suite de la programmation arrive bientôt...</h1>
        <div class="loader"></div>
    </section>
    <div id="modal-adaoda" class="modal modal--artist">
        <div class="modal-content samedi">
            <a class="modal-close sans-serif">
                <svg class="icon icon-close">
                    <use xlink:href="#icon-close"></use>
                </svg>
            </a>
            <h3 class="title big">Ada Oda</h3>
            <div class="video responsive-video">
                <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="infos tiny">
                <div>
                    <a href="https://www.facebook.com/adaodaband" target="_blank">{{ partial "svg/facebook.svg" (dict "size" 30) }}</a>
                    <a href="https://www.instagram.com/adaodaband/" target="_blank">{{ partial "svg/instagram.svg" (dict "size" 30) }}</a>
                    <a href="https://lnkfi.re/ada_oda" target="_blank">{{ partial "svg/website.svg" (dict "size" 30) }}</a>
                </div>
                <div>
                    (rock/post-punk - Bruxelles)
                </div>
                <div>
                    Samedi 24 août<br />
                </div>
            </div>
            <div class="text tiny">
                <p>
                    Après une série de concerts en Belgique et en France, une date aux États-Unis, une tournée en Italie et en Espagne, Ada Oda débarque à Alençon. Défenseur d’un rock binaire up-tempo qui évoque tant l'aplomb post-punk que les envolées mélodiques dont la variété italienne a le secret, le groupe bruxellois est emmené par Victoria Barracato, fille d’immigré sicilien, qui a traduit et adapté les textes du compositeur Cesar Laloux (The Tellers, BRNS, Italian Boyfriend). Sur scène, iels sont entouré.es d’une basse, d’une batterie et d’une guitare au service d’une formule envoûtante et entêtante.
                </p>
            </div>
        </div>
    </div>
    <div id="modal-dominique" class="modal modal--artist">
        <div class="modal-content samedi">
            <a class="modal-close sans-serif">
                <svg class="icon icon-close">
                    <use xlink:href="#icon-close"></use>
                </svg>
            </a>
            <h3 class="title big">Dominique Fevrier</h3>
            <div class="video responsive-video">
                <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="infos tiny">
                <div>
                    <a href="https://www.facebook.com/dominique.faitvriller/" target="_blank">{{ partial "svg/facebook.svg" (dict "size" 30) }}</a>
                    <a href="https://www.instagram.com/dominique_fevrier/?hl=fr" target="_blank">{{ partial "svg/instagram.svg" (dict "size" 30) }}</a>
                    <a href="https://linktr.ee/dominique_fevrier" target="_blank">{{ partial "svg/website.svg" (dict "size" 30) }}</a>
                </div>
                <div>
                    (rap/électro - Caen)
                </div>
                <div>
                    Samedi 24 août<br />
                </div>
            </div>
            <div class="text tiny">
                <p>
                    Artisan d'un rap électro sous tension à l'atmosphère chaleureuse et aux refrains entêtants, Dominique Février nous vient tout droit de Normandie. Accompagné depuis le début par le producteur Aalas, le duo construit un univers musical à la frontière entre l'électro et le rap francais alternatif. Un combo qu’on a eu plaisir à découvrir sur leur EP <i>Féloche</i> sorti en mars 2023, mais aussi sur scène, où le duo propose un show à l’énergie spontanée et communicative à l’abri de ce vieux monde plein de rides.                </p>
            </div>
        </div>
    </div>
    <div id="modal-ceylon" class="modal modal--artist">
        <div class="modal-content samedi">
            <a class="modal-close sans-serif">
                <svg class="icon icon-close">
                    <use xlink:href="#icon-close"></use>
                </svg>
            </a>
            <h3 class="title big">Ceylon</h3>
            <div class="video responsive-video">
                <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="infos tiny">
                <div>
                    <a href="https://www.facebook.com/ceylonlatranse" target="_blank">{{ partial "svg/facebook.svg" (dict "size" 30) }}</a>
                    <a href="https://www.instagram.com/ceylonofficiel/" target="_blank">{{ partial "svg/instagram.svg" (dict "size" 30) }}</a>
                    <a href="https://linktr.ee/ceylonofficiel" target="_blank">{{ partial "svg/website.svg" (dict "size" 30) }}</a>
                </div>
                <div>
                    (indie-rock-psychédélique - Nantes)
                </div>
                <div>
                    Vendredi 23 août<br />
                </div>
            </div>
            <div class="text tiny">
                <p>
                    Auréolé d’une vibrante synergie de groupe qui a fait chavirer les Transmusicales ou Chauffer dans la Noirceur, CEYLON propose une musique instinctive et énergique sur laquelle les mots fusent au rythme des cordes et des oiseaux, le groupe s’aventurant dans des paysages cosmopolites, entre indie rock et chanson. Lorsqu’on les observe, on pense au lyrisme de Radiohead, au franc-parler de Bonnie Banane et à la sensualité de Flavien Berger. Sur scène, CEYLON est le son et la musique d'un groupe de cinq personnes, portés par le message et les mots de deux voix.
                </p>
            </div>
        </div>
    </div>
    <div id="modal-dona" class="modal modal--artist">
        <div class="modal-content samedi">
            <a class="modal-close sans-serif">
                <svg class="icon icon-close">
                    <use xlink:href="#icon-close"></use>
                </svg>
            </a>
            <h3 class="title big">Dona Casque</h3>
            <div class="video responsive-video">
                <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="infos tiny">
                <div>
                    <a href="https://www.facebook.com/profile.php?id=61554381458894" target="_blank">{{ partial "svg/facebook.svg" (dict "size" 30) }}</a>
                </div>
                <div>
                    (pop/noise/post/punk - Paris)
                </div>
                <div>
                    Vendredi 23 août<br />
                </div>
            </div>
            <div class="text tiny">
                <p>
                    Accompagnée de sa pop noise post punk, cette équipe d'anciens nageurs viendra vous présenter leurs plus belles ondes (sonores), tubes (tubes en plastique, ronds) et autres mélodies lugubres. La musique se décline en plusieurs styles comme un arc en ciel de /pop/noise /post/punk. Seront utilisé.e.s une basse, des synthétiseurs et une batterie, ainsi que des voix téléféériques.
                </p>
            </div>
        </div>
    </div>
    <section class="container__photo">
        <div>
            <div class="grid-bottom">
                <div>
                    <figure class="img-effect">
                        <img src="/images/talbot-2024/talbot4.jpg" alt="sample41"/>
                        <figcaption>
                            <h2>Histoire</h2>
                            <p>À sa création en 2019, Origamie n’était encore qu’une bande d’ami.e.s alençonnaise partageant un souhait commun : dynamiser et promouvoir la culture locale. Aujourd’hui, l’association compte une dizaine de membres actifs et une vingtaine de bénévoles qui participent à l’organisation d’évènements culturels mêlant concerts, expositions, performances, et diverses animations.
                        </figcaption>
                    </figure>
                </div>
                <div>
                    <figure class="img-effect">
                        <img src="/images/talbot-2024/talbot5.jpg" alt="sample41"/>
                        <figcaption>
                            <h2>Edition 0</h2>
                            <p>
                            L'édition 0 de la Talbot Machine, une soirée privée organisée en 2015 dans la Sarthe, avait réuni une centaine de personnes autour d'un géant de pierre, d'un sound system, d'un bar participatif, et d'une vieille voiture Talbot repeinte pour l'occasion.
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div>
                    <figure class="img-effect">
                        <img src="/images/talbot-2024/talbot1.jpg" alt="sample41"/>
                        <figcaption>
                            <h2>Origamie</h2>
                            <p>8 ans plus tard, la même équipe ou presque est aux manettes, et notre souhait est le même. Mais entre temps, l'association Origamie est née, de nombreuses soirées et événements ont été organisés, des vinyles pressés, un fanzine publié et une caravane sonore rénovée.</p>
                        </figcaption>
                    </figure>
                </div>

                <div>
                    <figure class="img-effect">
                    <img src="/images/talbot-2024/talbot7.jpg" alt="" />
                        <figcaption>
                            <h2>2023</h2>
                            <p>Un première edition a eu lieu les 25 & 26 août 2023. Durant ces deux jours, plus de 15 concerts et performances. Une quarantaine d’artistes ont découvert le lieu, le festival, la région, et tous les retours ont été très positifs. Plus de 600 personnes ont été accueillies sur ces deux jours</p>
                        </figcaption>
                    </figure>
                </div>

                <div>
                    <figure class="img-effect">
                        <img src="/images/talbot-2024/talbot2.jpg" alt="" />
                        <figcaption>
                            <h2>Chapêlmêle</h2>
                            <p>Chapêlmêle est installée dans une ancienne congrégation
                                religieuse de plus de 2000m2, devenue depuis le tiers-lieu des Petits Châtelets, Chapêlmêle
                                est entourée d'une ribambelle d'artistes, artisans, et volontaires de tous horizons.
                                Bénévoles de l'association, ils marquent le quotidien du lieu par leur énergie,
                                leurs projets, et leurs propositions artistiques.</p>
                        </figcaption>
                    </figure>
                </div>
                <div>
                    <figure class="img-effect">
                        <img src="/images/talbot-2024/talbot6.jpg" alt="" />

                        <figcaption>
                            <h2>Ethique</h2>
                            <p>Enfin, le fait-maison étant une de nos marques de fabrique, nous prônons la consommation locale et solidaire, mais aussi l’inclusivité, et ce, afin que chacun.e puisse participer à nos événements, où aucun comportement raciste, sexiste, homophobe, validiste, et transphobe n'est toléré. </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="container__more" id="parc">
        <h3 class="title big">Infos pratiques</h3>
        <div class="small-container">
            <div class="row__more">
                <div class="map-container">
                    <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=0.06293535232543947,48.43437585276107,0.07709741592407228,48.44058978410332&layer=mapnik&marker=48.43748291343954,0.07001638412475586" style="border: 1px solid black">
                    </iframe>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="https://www.openstreetmap.org/#map=19/48.43775/0.07008">
                                📍 41 Chemin des Châtelets, 61000 Alençon
                            </a>
                        </li>
                        <li>
                            🚗 Parking à disposition
                        </li>
                        <li>
                            🚅 Gare d'Alençon à 30 min à pied
                        </li>
                        <li>
                            ️🚶‍♀️ 20 min à pied du centre ville
                        </li>
                        <li>
                            ️🏕️ Camping gratuit
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>


<footer id="footer" class="footer">
    <div class="container">

        <div class="footer__bottom">
            <p class="small footer__logo">
                <a href="/">
                    <img src="/images/logo-origamie.png" alt="logo-origamie">
                </a>
            </p>
            <p class="small">
                festival@talbotmachine.fr
            </p>
            <p>
                <a href="https://www.facebook.com/origa1000/" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="https://www.instagram.com/talbotmachine/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </p>
            <p class="small">
                <a href="/talbot-machine-2023">Edition 2023 </a>
            </p>
            <p class="small">
                Illustration :
                <a href="https://www.instagram.com/tseue3000/">Tseue</a> -
                Photographies : Jocelyn Bigot
            </p>


        </div>
    </div>
</footer>

<script src="/js/talbot.js" type="text/javascript" defer></script>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Event",
        "name": "Talbot Machine festival",
        "organizer": {
            "name": "Talbot Machine",
            "url": "https://talbotmachine.fr"
        },
        "description": "Festival talbot machine",
        "startDate": "2024-08-23T18:00",
        "endDate": "2024-08-24T02:00",
        "eventStatus": "https://schema.org/EventScheduled",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "location": {
            "@type": "Place",
            "name": "Chapêlmêle",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "",
                "addressLocality": "Alençon",
                "postalCode": "61000",
                "addressCountry": "FR"
            }
        }
    }
</script>
</body>

</html>


<!--
Futura pour le chapelmele
Poplar std pour le talbot machine
The scary movie pour la date
-->
