<!DOCTYPE html>
<html lang="fr-FR">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Talbot Machine Festival">
    <link rel="stylesheet" href="/css/talbot.css">
    <title>Talbot Machine Festival</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//stats.origamie.org/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->

    <script>

        $(window).on('scroll', function () {

            var scrollTop = $(this).scrollTop();
            let value;
            if ((0.40 * scrollTop) < 10) {
                value = '72px';
            } else {
                value = (0.40 * scrollTop) + '%'
            }

            $('.header').css({
                width: value,
                'justify-content': 'space-between'
            });

            if (scrollTop > 200) {
                $('.show-scroll').css({
                    display: 'unset',
                });
                $('.header').css({
                    'justify-content': 'space-between'
                });
            } else {
                $('.show-scroll').css({
                    display: 'none',
                });
                $('.header').css({
                    'justify-content': (0.20 * scrollTop) < 20 ? 'center' : 'unset'
                });
            }


            $('.affiche-img').css({
                'width': (0.20 * scrollTop) < 100 ? (0.20 * scrollTop) + '%' : '100%',
            });

            scrollTop = scrollTop - 1000;

            if (!window.matchMedia('(max-width: 767px)').matches) {
                $('.text-img1').css({
                    'width': (0.035 * scrollTop) < 50 ? (0.035 * scrollTop) + '%' : '50%',
                });
                $('.text-img2').css({
                    'width': (0.025 * scrollTop) < 50 ? (0.025 * scrollTop) + '%' : '50%',
                });
            }
        });


    </script>
</head>
<body>
<header class="header">
    <div style="display: flex; flex-direction: column">
        <a href="/" class="logo fixed-top">
            <img src="/images/logo-origamie.png" alt="logo-origamie">
        </a>
        <span class="fs-16 fs-18-desktop" style="text-align: center; margin-bottom: 0.5rem">présente</span>
    </div>
    <div class="fs-13 fs-12-desktop show-scroll" style="display: none">
        Talbot Machine Festival #2
    </div>
</header>

<div class="content background-white my-0">


    <main class="main container" id="page">
        <section id="home">
            <section id="intro">
                <article class="f-centered"  style="height: unset !important;">
                        <img src="/images/talbot/ban.jpg" style="width: 90%; margin: auto; transform: rotate(-2deg);" class="mb-3">
                </article>

                <article class="f-centered text-mobile-new" style="display: flex; flex-direction: column; justify-content: space-between">

                    <div style="margin: auto">
                        <h1><span class="title fs-8 fs-2-desktop f-uppercase">Talbot Machine<br>Festival #2</span></h1>
                    </div>
                    <div style="margin: auto">
                        <h1><span class="title fs-14 fs-4-desktop f-uppercase">revient <br/>les 23 et 24 août <br/> 2024</h1>
                        <h1><span class="title fs-16 fs-8-desktop">Plus d'infos prochainement...</h1>
                    </div>
                    <div>
                        <h2 class="fs-14 fs-10-desktop ft-primary f-uppercase ff-sans-serif mb-3">Chapêlmêle<br>Alençon (61)</h2>
                    </div>
                </article>

            </section>

        </section>
    </main>
</div>
<footer id="footer">
    <article class="f-centered ">
        <header>
            <h2 class="logo">
                <a href="/" class="logo">
                    <img src="/images/logo-origamie.png">
                </a>
            </h2>
            <p class="fs-14 fs-12-desktop mt-1">festival@talbotmachine.fr</p><br>

            <a href="/talbot-machine-2023">
                <p class="fs-16 fs-14-desktop mt-1">
                    Edition 2023
                </p>
            </a>

        </header>
        <ul class="links">
            {{ $icon_size := "32px" }}
            <li>
                <a href="https://www.instagram.com/talbotmachine/">
                    {{ partial "svg/instagram.svg" (dict "size" $icon_size) }}
                </a>
            </li>
            <li>
                <a href="https://facebook.com/origa1000/">
                    {{ partial "svg/facebook.svg" (dict "size" $icon_size) }}
                </a>
            </li>
        </ul>
    </article>
</footer>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Event",
        "name": "Talbot Machine festival",
        "organizer": {
            "name": "Talbot Machine",
            "url": "https://talbotmachine.fr"
        },
        "description": "Festival talbot machine",
        "startDate": "2023-08-25T18:00",
        "endDate": "2023-08-27T02:00",
        "eventStatus": "https://schema.org/EventScheduled",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "location": {
            "@type": "Place",
            "name": "Chapêlmêle",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "",
                "addressLocality": "Alençon",
                "postalCode": "61000",
                "addressCountry": "FR"
            }
        }
    }
</script>
</body>
</html>

