<!DOCTYPE html>
<html lang="fr-FR" >
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Talbot Machine Festival">
    <link rel="stylesheet" href="/css/talbot.css">
    <title>Talbot Machine Festival</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//stats.origamie.org/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->

    <script>

        $( window ).on('scroll', function(){

            var scrollTop = $(this).scrollTop();
            let value;
            if ((0.20 * scrollTop) < 10) {
                value = '72px';
            } else {
                value = (0.20 * scrollTop) +'%'
            }

            $( '.header' ).css({
                width: value,
                'justify-content': 'space-between'
            });

            if (scrollTop > 500) {
                $( '.show-scroll' ).css({
                    display: 'unset',
                });
                $( '.header' ).css({
                    'justify-content': 'space-between'
                });
            } else {
                $( '.show-scroll' ).css({
                    display: 'none',
                });
                $( '.header' ).css({
                    'justify-content': (0.20 * scrollTop) < 20 ? 'center': 'unset'
                });
            }


            $('.affiche-img').css({
                'width': (0.20 * scrollTop) < 100 ? (0.20 * scrollTop) + '%' : '100%',
            });

            scrollTop = scrollTop - 1000;

            if (!window.matchMedia('(max-width: 767px)').matches) {
                $('.text-img').css({
                    'width': (0.040 * scrollTop) < 50 ? (0.040 * scrollTop) + '%' : '50%',
                });
            }
        });


    </script>
</head>
<body>
<header class="header">
        <div style="display: flex; flex-direction: column">
        <a href="/" class="logo fixed-top">
            <img src="/images/logo-origamie.png" alt="logo-origamie">
        </a>
        <span class="fs-16 fs-18-desktop" style="text-align: center; margin-bottom: 0.5rem">présente</span>
        </div>
        <div class="fs-13 fs-12-desktop show-scroll" style="display: none">
            Talbot Machine Festival
        </div>
</header>

<div class="content background-white my-0">

    <main class="main container" id="page">
        <section id="home">
            <section id="intro">

                <article class="f-centered" style="display: flex; flex-direction: column; justify-content: space-between ">
                    <div style="margin: auto">
                        <h1 ><span class="title fs-5 fs-1-desktop f-uppercase">Talbot Machine<br>Festival</span></h1>
                        </div>
                    <div>
                        <h2 class="fs-14 fs-10-desktop ft-primary f-uppercase ff-sans-serif mb-3">Chapèlemele<br>Alençon (61)<br>25•26 août 2023</h2>
                    </div>
                </article>

            </section>

            <section id="affiche">
                <article class="f-centered">
                    <figure>
                        <img class="affiche-img home-img" src="/images/talbot/ban.png">
                        <img class="affiche-img home-img-mobile" src="/images/talbot/affiche.png">
                    </figure>
                </article>
            </section>

            <section id="infos" class="f-centered">
                <section class="days columns">
                    <article class="column" id="day1">
                        <h4 class="title f-default fs-11 fs-8-desktop">Vendredi 25 Août</h4>
                        <h5 class="f-default fs-15 fs-12-desktop">17h → 2h</h5>
                        <br/>
                        <p class="mt-1">
                            <a class="f-default fs-14 fs-11-desktop is-clickable" href="#antoine" rel="modal:open">
                                - Antoine Garrec <i class="bi bi-plus-circle"></i>
                            </a>
                        </p>
                        <br/>
                        <p class="mt-1">
                            <a class="f-default fs-14 fs-11-desktop is-clickable" href="#michelle" rel="modal:open">
                                - Michelle & les Garçons <i class="bi bi-plus-circle"></i>
                            </a>
                        </p>
                        <br/>
                        <p class="mt-1">
                            <a class="f-default fs-14 fs-11-desktop is-clickable" href="#jpdub" rel="modal:open">
                                - Jean-Paul Dub (w/ Feu Rouge) <i class="bi bi-plus-circle"></i>
                            </a>
                        </p>
                        <br/>
                        <p class="mt-1">
                            <a class="f-default fs-14 fs-11-desktop">+ à venir...</a>
                        </p>
                    </article>
                    <article class="column" id="day2">
                        <h4 class="title f-default fs-11 fs-8-desktop">Samedi 26 Août</h4>
                        <h5 class="f-default fs-15 fs-12-desktop">15h → 2h</h5>
                        <br/>
                        <p class="mt-1">
                            <a class="f-default fs-14 fs-11-desktop is-clickable" href="#tony" rel="modal:open">
                                - Tony Dola <i class="bi bi-plus-circle"></i>
                            </a>
                        </p>
                        <br/>
                        <p class="mt-1">
                            <a class="f-default fs-14 fs-11-desktop is-clickable" href="#jokari" rel="modal:open">
                                - Jokari <i class="bi bi-plus-circle"></i>
                            </a>
                        </p>
                        <br/>
                        <p class="mt-1">
                            <a class="f-default fs-14 fs-11-desktop is-clickable" href="#pasta" rel="modal:open">
                                - Pasta grows on trees <i class="bi bi-plus-circle"></i>
                            </a>
                        </p>
                        <br/>
                        <p class="mt-1">
                            <a class="f-default fs-14 fs-11-desktop is-clickable" href="#griffe" rel="modal:open">
                                - GRIFE <i class="bi bi-plus-circle"></i>
                            </a>
                        </p>
                        <br/>
                        <p class="mt-1">
                            <a class="f-default fs-14 fs-11-desktop is-clickable" href="#earl" rel="modal:open">
                                - Earl Nest <i class="bi bi-plus-circle"></i>
                            </a>
                        </p>
                        <br/>
                        <p class="mt-1">
                            <a class="f-default fs-14 fs-11-desktop">+ à venir...</a>
                        </p>
                    </article>
                </section>
                <p class="fs-13 fs-11-desktop f-default">- Concerts</p>
                <br/>
                <p class="fs-13 fs-11-desktop f-default">- DJs sets</p>
                <br/>
                <p class="fs-13 fs-11-desktop f-default">- Ateliers et exposition</p>
                <br/>
                <p class="fs-13 fs-11-desktop f-default">- Bar et restauration sur place</p>
                <br/>
                <p class="fs-13 fs-11-desktop f-default">- Entrée à prix libre</p>
                <br/>
                <h3 class="fs-11 fs-8-desktop f-centered f-default">Chapèlemele<br/>41 Chemin des Châtelets<br/>Alençon (61)<br/>25•26 août 2023</h3>

            </section>
            <section id="picture">
                <article class="has-text-centered columns">
                    <div class="column" id="pres-img">
                        <figure>
                            <img src="/images/wallpaper.jpg">
                        </figure>
                    </div>
                    <div class="column is-half-tablet text-img">
                        <p class="title fs-10 fs-7-desktop ft-primary ">
                            C'est officiel le festival Talbot Machine renaît de ses cendres. <br/>
                            Concerts dans la cour des Petits Chatelets, DJ sets dans la caravane hurlante de l'association Origamie, ateliers et expositions seront au programme.<br/>
                            On vous en dit plus prochainement.
                        </p>
                    </div>
                </article>
            </section>
        </section>
    </main>
</div>


<div id="griffe" class="modal">
    <div class="modal-content">
        <img src="/images/talbot/griffe.jpg">
        <br/>
        <span class="modal-style">(Pink Punk - Orléans)</span>
        <br/>
        <span class="modal-hour">21h30 - 22h30</span>
        <br/>
        GRIFE est un groupe de musique français originaire d’Orléans et composé de Diane Borderieux et Victoria James Geiseler. Membres créatrices et actives du même collectif artistique, La Mue Collective, elles fondent le duo en octobre 2021, après un
        concert du groupe occitan Cocanha.
        <br/>
        Depuis, GRIFE est l’incarnation de deux voix de femmes percutantes à la fois par leurs textes et par leur instrumentation. Adolescentes bercées par le matrimoine pop rock et la musique alternative, Diane et Victoria sont hantées aussi bien par les chants populaires que par le punk et la musique baroque.

        <ul>
            <li>
                <a href="https://grife.bandcamp.com/">
                    {{ partial "svg/bandcamp.svg" (dict "size" 30) }}
                </a>

                <a href="https://www.instagram.com/grrrife/">
                    {{ partial "svg/instagram.svg" (dict "size" 30) }}
                </a>

                <a href="https://www.facebook.com/lamuecollective">
                    {{ partial "svg/facebook.svg" (dict "size" 30) }}
                </a>

                <a href="https://www.youtube.com/watch?v=K8QreDs9bgU">
                    {{ partial "svg/youtube.svg" (dict "size" 30) }}
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="michelle" class="modal">
    <div class="modal-content">
        <img src="/images/talbot/michelle.png">
        <br/>
        <span class="modal-style">(Pop/Rock Pailletée - Angers)</span>
        <br/>
        <span class="modal-hour">23h - 00h</span>
        <br/>
        La pop arty et délurée de Michelle & Les Garçons sera également de la partie lors de la Talbot Machine Festival .
        <br/><br/>
        Après une entrée en trombe sur la scène française, avec comme seul étendard leur premier single “Bizarre” à l’automne 2022, le groupe enchaîne des concerts brûlants et écrit les premières pages de son aventure (FIP, France Culture, MaMA, Bars en Trans...), avant de sortir un premier EP éponyme le 28 avril dernier.
        <br/><br/>
        Iels nous racontent leurs histoires d'amour et de vie à travers une pop aux couleurs plurielles : la chaleur des roses profonds, la mélancolie des bleus tièdes. On y danse sur les lumières des années 80, les ombres des sentiments flirtent avec des corps avides de sensations et des visages pailletés.


        <ul>
            <li>
                <a  href="https://wiseband.lnk.to/michelle-et-les-garcons-michelle-et-les-garcons">
                    {{ partial "svg/bandcamp.svg" (dict "size" 30) }}
                </a>

                <a href="https://www.instagram.com/michelle_et_les_garcons/">
                    {{ partial "svg/instagram.svg" (dict "size" 30) }}
                </a>

                <a href="https://www.facebook.com/michelle.lesgarcons/">
                    {{ partial "svg/facebook.svg" (dict "size" 30) }}
                </a>

                <a href="https://www.youtube.com/watch?v=_mBCLq5NQ-Y">
                    {{ partial "svg/youtube.svg" (dict "size" 30) }}
                </a>
                <a href="https://www.youtube.com/watch?v=4S8vVR0cPJQ">
                    {{ partial "svg/youtube.svg" (dict "size" 30) }}
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="pasta" class="modal">
    <div class="modal-content">
        <img src="/images/talbot/pasta.png">
        <br/>
        <span class="modal-style">(Pop/Lo-fi - Paris)</span>
        <br/>
        <span class="modal-hour">20h30 - 21h30</span>
        <br/>
        S’il fallait résumer les 4 dernières années du parcours de Pasta Grows On Trees en une séquence cinématographique, ce serait certainement par celle d’un plan travelling autoroutier. Après un premier EP 5 titres - résolument lo-fi - sorti en 2017, le Dijonnais décide de s’installer à Prague pour suivre des études de droit international. Un tournant qui permettra à l’étudiant de revenir avec 9 titres sortis en 2019 en 🇫🇷 et au 🇯🇵.
        <br/>
        Un retour pour mieux repartir, puisque s’ensuit une tournée solo en 🇫🇷, en 🇩🇪 et en 🇨🇿 dans la foulée. Après la sortie de plusieurs single, plus de 60 dates et un déménagement à Paris, c’est dans une chambre du 19e arrondissement que « Tout ce temps passé là » voit le jour. Ou plutôt la nuit : toujours écrit, produit, et composé seul, l’album est un condensé de chansons psychédéliques brumeuses et intimistes.

        <ul>
            <li>
                <a href="https://www.facebook.com/pastagrowsontrees">
                    {{ partial "svg/facebook.svg" (dict "size" 30) }}
                </a>
                <a href="https://www.instagram.com/pastagrowsontrees">
                    {{ partial "svg/instagram.svg" (dict "size" 30) }}
                </a>

                <a href="https://soundcloud.com/pastagrowsontrees/sets/tout-ce-temps-passe-la">
                    {{ partial "svg/soundcloud.svg" (dict "size" 30) }}
                </a>

                <a href="https://www.youtube.com/watch?v=eHgBh1XPgP4">
                    {{ partial "svg/youtube.svg" (dict "size" 30) }}
                </a>
                <a href="https://www.youtube.com/watch?v=3WXXhmis4-k">
                    {{ partial "svg/youtube.svg" (dict "size" 30) }}
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="jpdub" class="modal">
    <div class="modal-content">
        <img src="/images/talbot/jpdub.png">
        <br/>
        <span class="modal-style">(Ethno-Dub/Rap - Caen)</span>
        <br/>
        <span class="modal-hour">00h15 - 01h30</span>
        <br/>
        Depuis maintenant 10 ans et plus de 300 prestations au compteur, Jean-Paul Dub (Pablo Géléoc) parcourt la France et l’étranger (Belgique, Pologne, Canada, Ukraine, …) pour diffuser sa musique : un reggae-dub ethnique aux influences multiples et marqué par l’esprit « Dub it yourself » des années 90.
        <br/><br/>
        Également fondateur du label Vaticaen Records, et du collectif audiovisuel Bandit visions, Jean-Paul Dub sera accompagné du rappeur caennais Feu Rouge (ex The Shellys, Mandale, Poney Crevé, Cemented Minds), qui a sorti son 1er EP, « En Vers et contre tout », en novembre 2022.
        <ul>
            <li>
                <a  href="https://jeanpauldub.fr/">
                    {{ partial "svg/website.svg" (dict "size" 30) }}
                </a>
                <a  href="https://vaticaen.bandcamp.com/">
                    {{ partial "svg/bandcamp.svg" (dict "size" 30) }}
                </a>

                <a href="https://www.youtube.com/watch?v=BeKCEluO2UU">
                    {{ partial "svg/youtube.svg" (dict "size" 30) }}
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="culture" class="modal">
    <div class="modal-content">
        <img src="/images/talbot/culture.png">
        <br/>
        <span class="modal-style">(Zouk Rock - Rennes)</span>
        <br/>
        <span class="modal-hour">22h45 - 23h45</span>
        <br/>
        Duo de timbrés qui cherchent à marier, non sans passion et sans humour, un héritage rock noisy, prog et punk avec la musique africaine, Culture emotion est l’alliance diabolique d’un guitariste nerveux et d’un batteur qui tabasse et tricote.
        <br/><br/>
        Une formule qui vous donnera le tournis, tout en vous soutirant probablement quelques larmes (de mélancolie ou d’hilarité, à vous de voir). Bastonnant les tympans à coups d’hymnes furieux et de reprises de Dorothée (si si!), ces deux farfelus auront pour mission de faire tomber le public dans les pommes. Ni plus, ni moins…
        <ul>
            <li>
                <a  href="https://www.facebook.com/cultureemotion/">
                    {{ partial "svg/facebook.svg" (dict "size" 30) }}
                </a>

                <a href="https://www.youtube.com/watch?v=ET4P-IX6GCw ">
                    {{ partial "svg/youtube.svg" (dict "size" 30) }}
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="jokari" class="modal">
    <div class="modal-content">
        <img src="/images/talbot/jokari.png">
        <br/>
        <span class="modal-style">(Pop Rock - Toulouse)</span>
        <br/>
        <span class="modal-hour">19h30 - 20h30</span>
        <br/>
        Jokari est le projet solo de Marion Josserand, qui a sorti son album “Main Gauche” en décembre 2021. L’artiste toulousaine propose des chansons en français fabriquées sur l'orgue ou la guitare, et jouées dans leur version solo intimiste, douce, à nu.
        <br/><br/>
        Bouquet de cailloux: enfance, nostalgie, un peu de rigolade et quelques torsions de cœur, voilà ce qui vous attend en découvrant Jokari en concert.
        <ul>
            <li>
                <a  href="https://www.facebook.com/Marionjokari">
                    {{ partial "svg/facebook.svg" (dict "size" 30) }}
                </a>
                <a  href="https://www.instagram.com/jokari_coupletrefrain/">
                    {{ partial "svg/instagram.svg" (dict "size" 30) }}
                </a>
                <a  href="https://cheptelrecords.bandcamp.com/album/chptl-056-main-gauche">
                    {{ partial "svg/bandcamp.svg" (dict "size" 30) }}
                </a>

                <a href="https://www.youtube.com/watch?v=6wOmKAoxaQY">
                    {{ partial "svg/youtube.svg" (dict "size" 30) }}
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="antoine" class="modal">
    <div class="modal-content">
        <img src="/images/talbot/antoine.jpg">
        <br/>
        <span class="modal-style">(Zouk Rock - Pont-l’Abbé)</span>
        <br/>
        <span class="modal-hour">20h - 21h</span>
        <br/>
        Originaire de Pont-l’Abbé (Finistère), Antoine Garrec est un aventurier de l'ordinaire qui se dévoile dans ses chansons avec un romantisme brut et une sincérité désarmante. Armé de synthétiseurs, il oscille entre un lyrisme pop empreint de variété française et une énergie brutale et primitive issue du post-punk.
        <br/><br/>
        Inspiré par Sonic Youth, Christophe, Grandaddy, et même Daniel Balavoine, le Bigouden a sorti en 2020, Plastique Sahara. Un premier album remarqué sur lequel il chante le drame romantique pour déclamer le quotidien. Des aventures sentimentales qui ne commencent pas à ses histoires d'amour qui durent son temps. Antoine Garrec vous conte ses vies multiples entre synthé et boîte à rythmes.
        <ul>
            <li>
                <a  href="https://www.facebook.com/antoinegarreclebigouden">
                    {{ partial "svg/facebook.svg" (dict "size" 30) }}
                </a>

                <a href="https://www.antoinegarrec.fr">
                    {{ partial "svg/website.svg" (dict "size" 30) }}
                </a>
                <a href="https://souterraine.bandcamp.com/album/plastique-sahara">
                    {{ partial "svg/bandcamp.svg" (dict "size" 30) }}
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="earl" class="modal">
    <div class="modal-content">
        <img src="/images/talbot/earl.jpg">
        <br/>
        <span class="modal-style">(Techno/Trip-Hop/Drum and bass - Rennes)</span>
        <br/>
        <span class="modal-hour">00h15 - 01h30</span>
        <br/>
        Charles Genestoux aka Earl Nest s’attache à créer une musique électronique détournée de ses codes, inspirée par des artistes tels que Rone, The Clash, Feu Chatterton ou encore Clark. À la croisée de la cold-wave, de l’acid, ou encore de la bass music. La musique d’Earl Nest ne s’embarrasse d’aucune règle.
        <br/><br/>
        À l’image de son créateur qui se refuse aux catégorisations et se donne pour seule ambition de partager un bout de son univers et de sa sensibilité avec le reste du monde. Accompagné en live de sa guitare basse , de sa voix et de ses machines. Earl Nest donne vie à ses morceaux dans des performances aventureuses, prometteuses et engagées
        <ul>
            <li>
                <a  href="https://www.facebook.com/earl.nest">
                    {{ partial "svg/facebook.svg" (dict "size" 30) }}
                </a>

                <a href="https://soundcloud.com/earlnest">
                    {{ partial "svg/soundcloud.svg" (dict "size" 30) }}
                </a>
                <a href="https://instagram.com/earl_nest">
                    {{ partial "svg/instagram.svg" (dict "size" 30) }}
                </a>
                <a href="https://www.youtube.com/watch?v=LhzkZ8wBKrA">
                    {{ partial "svg/youtube.svg" (dict "size" 30) }}
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="tony" class="modal">
    <div class="modal-content">
        <img src="/images/talbot/tony.jpg">
        <br/>
        <span class="modal-style">(Surf Chanson - Paris)</span>
        <br/>
        <span class="modal-hour"></span>
        <br/>
        Son rêve devient réalité, il a des chansons, des chansons en français qu’il ne reniera pas. C’est bien là ce qui a tracassé Tony Dola pendant des années : s’assurer qu’il ne regrettera pas dans l’avenir, ce qu’il a décidé de chanter à un moment donné.
        <br/><br/>
        Du rock’n’roll sauce Périgord, auquel il a fallu un cadre, quelque chose de difficile à remettre en cause, d’où la référence au quartier de glacière à Paris, où il travaille en tant qu’épicier. De là des chansons sur ses collègues, sur son rapport au travail, sur l’appartenance à un endroit et sur cet endroit comme point de départ pour l’aventure !
        <ul>
            <li>
                <a  href="https://www.facebook.com/profile.php?id=100070004626143">
                    {{ partial "svg/facebook.svg" (dict "size" 30) }}
                </a>
                <a href="https://www.instagram.com/tonydola/">
                    {{ partial "svg/instagram.svg" (dict "size" 30) }}
                </a>
                <a href="https://www.youtube.com/watch?v=c-UfaSZa56A">
                    {{ partial "svg/youtube.svg" (dict "size" 30) }}
                </a>
            </li>
        </ul>
    </div>
</div>
<footer id="footer" >
    <article  class="f-centered ">
        <header>
            <h2 class="logo">
                <a href="/" class="logo">
                    <img src="/images/logo-origamie.png">
                </a>
            </h2>
            <p class="fs-14 fs-12-desktop mt-1">festival@talbotmachine.fr</p><br>

            <a href="https://drive.google.com/file/d/1D-mkxYqz25gGnZh5FQEZJGoBQg3hsFvK/view">
                <p class="fs-16 fs-14-desktop mt-1">
                    Dossier de presse
                </p>
            </a>

        </header>
        <ul class="links">
            {{ $icon_size := "32px" }}
            <li>
                <a href="https://www.instagram.com/talbotmachine/">
                    {{ partial "svg/instagram.svg" (dict "size" $icon_size) }}
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/events/737963104675286/">
                    {{ partial "svg/facebook.svg" (dict "size" $icon_size) }}
                </a>
            </li>
        </ul>
    </article>
</footer>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Event",
        "name": "Talbot Machine festival",
        "organizer": {
            "name" :  "Talbot Machine",
            "url" : "https://talbotmachine.fr"
        },
        "description": "Festival talbot machine",
        "startDate": "2023-08-25T18:00",
        "endDate": "2023-08-27T02:00",
        "eventStatus": "https://schema.org/EventScheduled",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "location": {
            "@type": "Place",
            "name": "Chapelemele",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "",
                "addressLocality": "Alençon",
                "postalCode": "61000",
                "addressCountry": "FR"
            }
        }
    }
</script>
</body>
</html>

