.header-full-height {
	height: 100vh;
}

.artist-line, .fanzine-line {
	display: flex;
}

@media (max-device-width : 880px) {
	.artist-line, .fanzine-line {
		display: block !important;
	}
}

.fanzine-description {
	width: 50%; 
	margin-right: 60px
	
}

.fanzine-description li {
	margin-bottom: 50px;
	
}

@media (max-device-width : 880px) {
	.fanzine-description {
		width: 100%;
	}
}


.fanzine-product {
	width: 300px
}

@media (max-device-width : 880px) {
	.fanzine-product {
		width: 300px;
		margin: auto;
	}
}

.site-image {
	width: 200px;
}

@media (max-device-width : 880px) {
	.site-image {
		width: 150px;
		margin: auto;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
	}
}

.roboto { 
	font-family: 'Roboto'
}

.roboto-1000 { 
	font-family: 'Roboto';
	font-weight: 1000;
}

 .main-photos {
	 min-height: 80vh;
 }

[data-tab-info] {
	display: none;
}

.active[data-tab-info] {
	display: block;
}

.active[data-tab-value] {
	background: #333333;
	color: #f4f4f4;

}

.tab-content {
	font-size: 30px;
	font-family: sans-serif;
	font-weight: bold;
	color: rgb(82, 75, 75);
}

.tabs {
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	color: #333333;
	display: flex;
	background: #f4f4f4;
}

.tabs span {
	padding: 10px;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #333333;
}

.tabs span:hover {
	background: #333333;
	cursor: pointer;
	color: #f4f4f4;
}