.header-full-height {
	height: 100vh;
}

.artist-line, .fanzine-line {
	display: flex;
}

@media (max-device-width : 880px) {
	.artist-line, .fanzine-line {
		display: block !important;
	}
}

.fanzine-description {
	width: 50%; 
	margin-right: 60px
	
}

.fanzine-description li {
	margin-bottom: 50px;
	
}

@media (max-device-width : 880px) {
	.fanzine-description {
		width: 100%;
	}
}


.fanzine-product {
	width: 300px
}

@media (max-device-width : 880px) {
	.fanzine-product {
		width: 300px;
		margin: auto;
	}
}

.site-image {
	width: 200px;
}

@media (max-device-width : 880px) {
	.site-image {
		width: 150px;
		margin: auto;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
	}
}

@media (max-device-width : 880px) {
	.f1 {
		font-size: 25px;
		text-align: center;
	}
}
@media (max-device-width : 880px) {
	.main-menu {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.main-menu > .main-menu-item {
		font-size: 20px;
		margin-top: 1rem;
	}

	.mobile-hidden {
		display: none;
	}

	.menu-mobile {
		display: flex;
		justify-content: space-between;
	}

	.article-content {
		font-size: 1rem;
		text-align: center;
	}

	.title-summary {
		font-size: 1.2rem;
	}
}

@media (min-device-width : 880px) {
	.mobile-show {
		display: none;
	}
}

#mc_embed_signup{
	clear:left;
	font:14px Helvetica,Arial,sans-serif;
	width:600px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-device-width : 880px) {
	#mc_embed_signup{
		width:unset !important;
	}
}

.press-info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

@media (max-device-width : 880px) {
	.press-info {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}

@media (max-device-width : 880px) {
	.press-info img{
		height: 40px !important;
	}
}



.roboto { 
	font-family: 'Roboto'
}

.roboto-1000 { 
	font-family: 'Roboto';
	font-weight: 1000;
}

 .main-photos {
	 min-height: 80vh;
	 margin-top: 0.5rem;
 }

.main-caravane {
	width: 100%;
}

.caravane-work {
	margin: auto;
}

[data-tab-info] {
	display: none;
}

.active[data-tab-info] {
	display: block;
}

.active[data-tab-value] {
	background: #333333;
	color: #f4f4f4;

}

.tab-content {
	font-size: 30px;
	font-family: sans-serif;
	font-weight: bold;
	color: rgb(82, 75, 75);
}

.tabs {
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	font-size: 1rem;
	color: #333333;
	display: flex;
	background: #f4f4f4;
}

.tabs div {
	padding: 1rem;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #333333;
	border-top: 1px solid #333333;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

@media (max-device-width : 880px) {
	.tabs div {
		font-size: 0.8rem;
	}
}

.tabs div .tab-title {
	font-weight: 800;
}

.tabs div .tab-info {
	font-size: 0.8rem;
}

@media (max-device-width : 880px) {
	.tabs div .tab-info {
		display: none;
	}
}

.mobile-info {
	display: none;
}

@media (max-device-width : 880px) {
	.mobile-info {
		align-items: center;
		justify-content: center;
		margin-top: 1rem;
		font-size: 0.7rem;
		display: flex;
		flex-direction: column;
	}
}

.tabs div:hover {
	background: #333333;
	cursor: pointer;
	color: #f4f4f4;
}