@charset "UTF-8";
a,
b,
big,
body,
center,
div,
em,
embed,
footer,
h1,
h2,
h3,
header,
html,
i,
iframe,
img,
label,
li,
nav,
object,
p,
s,
section,
small,
span,
sup,
time,
tr,
ul,
var,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}
html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    line-height: 1.15;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    overflow-x: hidden;
}
a {
    background-color: transparent;
}
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
.sans-serif {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, sans-serif;
    text-transform: none;
}
@font-face {
    text-rendering: optimizeLegibility;
    font-display: swap;
    font-family: "TheScaryMovie";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/the_scary_movie.ttf) format("opentype");
}

@font-face {
    text-rendering: optimizeLegibility;
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/roboto-medium.ttf) format("opentype");
}

@font-face {
    text-rendering: optimizeLegibility;
    font-display: swap;
    font-family: "RobotoBold";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/roboto-black.ttf) format("opentype");
}

@font-face {
    text-rendering: optimizeLegibility;
    font-display: swap;
    font-family: "PoplarStd";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/poplarstd.otf) format("opentype");
}

@font-face {
    text-rendering: optimizeLegibility;
    font-display: swap;
    font-family: "Lithops";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/lithops.otf) format("opentype");
}

@font-face {
    text-rendering: optimizeLegibility;
    font-display: swap;
    font-family: "Gulax";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/gulax.otf) format("opentype");
}

.icon {
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    display: inline-block;
    height: 1em;
    width: 1em;
}
body {
    -webkit-font-smoothing: antialiased;
    background: #fff8e5;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    overflow-x: hidden;
    text-align: center;
    max-width: 100vw !important;
}
@media (min-width: 860px) {
    body {
        font-size: 30px;
        overflow-x: hidden;
        position: relative;
    }
}
a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.1s cubic-bezier(0.2, 0.45, 0.45, 1);
    -o-transition: all 0.1s cubic-bezier(0.2, 0.45, 0.45, 1);
    transition: all 0.1s cubic-bezier(0.2, 0.45, 0.45, 1);
}
img {
    display: block;
    height: auto;
    width: 100%;
}
p {
    margin-bottom: 1em;
}
.fat {
    font-size: 8vw;
    font-weight: 1000;
    line-height: 1;
}
@media (min-width: 1080px) {
    .fat {
        font-size: 100px;
    }
}
.big {
    font-size: 30px;
    line-height: 1.1;
}
@media (min-width: 860px) {
    .big {
        font-size: 40px;
    }
}
@media (min-width: 1080px) {
    .big {
        font-size: 50px;
    }
}
.small {
    font-size: 20px;
}
.tiny {
    font-size: 18px;
}
b {
    font-weight: 700;
}
em,
i {
    font-style: italic;
}
.nobreak {
    white-space: nowrap;
}
sup {
    font-size: 0.6em;
}
.h1,
.h2,
.h3 {
    font-weight: 400;
}
.h1 {
    font-size: 32px;
    line-height: 1.2;
}
@media (min-width: 860px) {
    .h1 {
        font-size: 44px;
    }
}
.h2 {
    font-size: 24px;
    line-height: 1.1;
}
@media (min-width: 860px) {
    .h2 {
        font-size: 36px;
    }
}
.h3 {
    font-size: 20px;
    line-height: 1.3;
}
.parc-row {
    display: flex;
    flex-direction: column;
}

.parc-row div {
    padding-bottom: 20px;
}
@media (min-width: 860px) {
    .parc-row {
        flex-direction: row;
    }
}
.left-column {
    flex-basis: 50%;
}
@media (min-width: 860px) {
    .left-column {
        padding-right: 1em;
    }
}
.right-column {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.right-column img {
    height: 10%;
}

.logos-container img,
.logos-container span {
    display: inline-block;
    vertical-align: middle;
}
.logos-container img {
    margin: 8px 24px;
    max-width: 220px;
    -webkit-transform: scale(70%);
    -ms-transform: scale(70%);
    transform: scale(70%);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: auto;
}
@media (min-width: 1080px) {
    .logos-container img {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}
.responsive-video {
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}
.responsive-video embed,
.responsive-video iframe,
.responsive-video img,
.responsive-video object {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.responsive-video img {
    -o-object-fit: cover;
    object-fit: cover;
}
.social-links a {
    display: inline-block;
    font-size: 24px;
    height: 24px;
    margin-right: 4px;
}
.social-links a:hover {
    color: #98c6eb;
}
@media (min-width: 860px) {
    .social-links a {
        font-size: 30px;
    }
}
@media (min-width: 1080px) {
    .social-links a {
        margin-right: 0;
    }
}
@media (min-width: 1400px) {
    .social-links a {
        height: 32px;
        margin-left: 8px;
    }
}
.social-links svg {
    position: relative;
}
body.modal-isopened {
    overflow-y: hidden;
}
body.modal-isopened .modal-content {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0.45, 0.45, 1);
    -o-transition: all 0.3s cubic-bezier(0.2, 0.45, 0.45, 1);
    transition: all 0.3s cubic-bezier(0.2, 0.45, 0.45, 1);
}
.modal {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 8888;
}
.modal-content {
    background-color: #fff8e5;
    border: 2px solid #000;
    color: #000;
    margin: 0 auto 60px;
    max-width: 1080px;
    padding: 20px 20px 40px;
    position: relative;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0.45, 0.45, 1);
    -o-transition: all 0.3s cubic-bezier(0.2, 0.45, 0.45, 1);
    transition: all 0.3s cubic-bezier(0.2, 0.45, 0.45, 1);
    width: 100%;
}
@media (min-width: 860px) {
    .modal-content {
        margin: 40px auto;
        padding: 40px 80px 60px;
        width: 92%;
    }
}
.modal-close {
    cursor: pointer;
    font-size: 40px;
    line-height: 40px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 48px;
}
@media (min-width: 860px) {
    .modal-close {
        font-size: 40px;
        right: 20px;
        top: 20px;
    }
}
.modal-content {
    text-align: left;
}
.modal-content .title {
    -webkit-text-stroke: 1px #000;
    line-height: 1;
    text-align: center;
    text-transform: none;
}
.modal-content.s-jour .title {
    -webkit-text-fill-color: #ffe931;
}
.modal-content.s-nuit .title {
    -webkit-text-fill-color: #ff7369;
}
.modal-content.d-jour .title {
    -webkit-text-fill-color: #8fc79c;
}
.modal-content .photo,
.modal-content .video {
    border-radius: 10px;
    margin: 20px 0;
}
@media (min-width: 860px) {
    .modal-content .photo,
    .modal-content .video {
        border-radius: 20px;
    }
}
.modal-content .infos div:first-child {
    margin-bottom: 0.75em;
}
@media (min-width: 860px) {
    .modal-content .infos {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
    }
    .modal-content .infos div:first-child {
        margin: 0;
    }
}
.modal-content .infos br {
    display: none;
}
.modal-content .infos a {
    border-radius: 20px;
    display: inline-block;
    margin-right: 3px;
    padding: 0 0.5em;
}
.modal-content.s-jour a:hover {
    border-color: #ffe931;
    color: #ffe931;
}
.modal-content.s-nuit a:hover {
    border-color: #ff7369;
    color: #ff7369;
}
.modal-content.d-jour a:hover {
    border-color: #8fc79c;
    color: #8fc79c;
}
.modal-content .text {
    margin-top: 2em;
    text-transform: none;
}
.modal-content .text p {
    margin-bottom: 0.8em;
}
.modal-content .text p:last-child {
    margin-bottom: 0;
}
.modal-content .text a {
    border: 2px solid #000;
    border-radius: 20px;
    display: inline-block;
    margin-right: 3px;
    padding: 0 0.5em;
}
@-webkit-keyframes fadein {
    0% {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadein {
    0% {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}
.selector {
    padding: 2em 0;
    font-family: Roboto, sans-serif;
}
.selector div {
    border-color: #fff;
    display: block !important;
    margin: 0.3em auto;
    max-width: 370px;
    background: #53c9e9;
}
@media (min-width: 860px) {
    .selector div {
        display: inline-block !important;
        font-size: 25px;
        margin: 0.3em 0.2em;
    }
}
.container__music.all .artist__select .all {
    background: #ed2e69;
    color: #000;
}
.container__music.vendredi .artist__select .vendredi {
    background: #ed2e69;
    color: #000;
}
.container__music.samedi .artist__select .samedi {
    background: #ed2e69;
    color: #000;
}
.selector .all:hover {
    color: #ed2e69;
}
.selector .vendredi:hover {
    color: #ed2e69;
}
.selector .samedi:hover {
    color: #ed2e69;
}
@media (min-width: 860px) {
    .selector br {
        display: none;
    }
}
.btn,
.selector div {
    border: 2px solid;
    cursor: pointer;
    display: inline-block;
    padding: 0.1em 0.5em;
    -webkit-transition: all 0.1s cubic-bezier(0.2, 0.45, 0.45, 1);
    -o-transition: all 0.1s cubic-bezier(0.2, 0.45, 0.45, 1);
    transition: all 0.1s cubic-bezier(0.2, 0.45, 0.45, 1);
}

@media (min-width: 860px) {
    .grid-bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
.container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}
@media (min-width: 860px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
}
@media (min-width: 1080px) {
    .container {
        padding-left: 48px;
        padding-right: 48px;
    }
}
.navbar {
    background: #fff;
    height: 48px;
    left: 0;
    padding: 8px 3%;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 1000;
}
@media (min-width: 1080px) {
    .navbar {
        height: auto;
        padding: 10px 3%;
    }
}
.nav {
    display: none;
    text-align: center;
}
@media (min-width: 1080px) {
    .nav {
        display: block;
        font-size: 24px;
        margin-left: -10px;
        text-align: left;
    }
}
.nav a {
    display: block;
    text-transform: uppercase;
}
@media (min-width: 860px) {
    .nav a {
        padding: 0 8px 0 0;
    }
}
@media (min-width: 1080px) {
    .nav a {
        display: inline-block;
        padding: 4px 10px;
    }
}
@media (min-width: 1400px) {
    .nav a {
        padding: 4px 24px;
    }
}
.nav a:hover {
    color: #f09dd0;
}
.menu-main {
    position: fixed;
    width: 100%;
    font-size: 1rem;
    height: 40px;
    z-index: 150;
    display: flex;
    justify-content: space-between;
}
.menu-main li {
    cursor: pointer;
    margin-left: 2rem;
}
.menu-main ul {
    display: flex;
    flex-direction: row;
}
.menu-main ul li {
    display: block;
    border: 2px solid #000;
    padding: 0.5rem;
}
.menu-main ul li:hover {
    background-color: #ed2e69;
}

.menu-main .menu-text:last-of-type {
    margin-right: 2rem;
}

@media (max-width: 1079px) {
    .menu-main .menu-text:last-of-type {
        display: none !important;
    }
}
.navhome .backhome {
    display: none;
}
.navbar__social {
    position: absolute;
    top: 10px;
}
@media (min-width: 860px) {
    .navbar__social {
        margin-top: 0;
        top: 8px;
    }
}
@media (min-width: 1080px) {
    .navbar__social {
        height: 32px;
        left: auto;
        position: absolute;
        right: 3%;
        top: 14px;
    }
}
.open-menu {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 36px;
    margin-top: -1px;
    position: fixed;
    right: 3%;
    width: 42px;
}
@media (min-width: 1080px) {
    .open-menu {
        display: none;
    }
}
.open-menu:after,
.open-menu:before {
    background-color: #000;
    content: "";
    display: block;
    height: 3px;
    left: 8px;
    position: absolute;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: top 0.15s ease 0.15s, background-color 0.1s,
    -webkit-transform 0.15s ease;
    transition: top 0.15s ease 0.15s, background-color 0.1s,
    -webkit-transform 0.15s ease;
    -o-transition: top 0.15s ease 0.15s, transform 0.15s ease,
    background-color 0.1s;
    transition: top 0.15s ease 0.15s, transform 0.15s ease, background-color 0.1s;
    transition: top 0.15s ease 0.15s, transform 0.15s ease, background-color 0.1s,
    -webkit-transform 0.15s ease;
    width: 24px;
}
.open-menu:before {
    top: 12px;
}
.open-menu:after {
    top: 20px;
}
.open-menu.active:after,
.open-menu.active:before {
    -webkit-transition: top 0.15s ease, background-color 0.15s ease 0.4s,
    -webkit-transform 0.15s ease 0.15s;
    transition: top 0.15s ease, background-color 0.15s ease 0.4s,
    -webkit-transform 0.15s ease 0.15s;
    -o-transition: top 0.15s ease, transform 0.15s ease 0.15s,
    background-color 0.15s ease 0.4s;
    transition: top 0.15s ease, transform 0.15s ease 0.15s,
    background-color 0.15s ease 0.4s;
    transition: top 0.15s ease, transform 0.15s ease 0.15s,
    background-color 0.15s ease 0.4s, -webkit-transform 0.15s ease 0.15s;
}
.open-menu.active:before {
    top: 17px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.open-menu.active:after {
    top: 17px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.open-menu.active + .nav {
    background: #fff;
    -webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.5);
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 40px -100px 0;
    padding: 0 0 24px;
}
.open-menu.active + .nav a {
    padding: 8px 0;
}

.container__cover {
    background: url(/images/talbot-2024/background-full.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 120vh;
    padding-top: 60px;
}

@media (min-width: 860px) {

    .container__cover {
        background: url(/images/talbot-2024/background-full.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 120vh;
        padding-top: 60px;
    }
}

.title-2024 {
    z-index: 99999;
    font-size: 90px;
    text-transform: uppercase;
    font-family: "Gulax", sans-serif;

    text-shadow: 5px 5px  2px  #010101;
}

@media (max-width: 860px) {
    .title-2024 {
        z-index: 99999;
        font-size: 60px;
    }
}

.box {
    margin: 0 40px;
    color: white;
    margin-top: 15vh;
}

.small-box {
    background: #53c9e9;
    border: 2px solid #010101;
}



.container__cover h1 {
    /* display: block; */
    margin: auto;
    max-width: 1300px;
    width: 85%;
}
@media (min-width: 1080px) {
    .container__cover h1 {
        width: 80%;
    }
}
.container__cover .top {
    margin-bottom: 1em;
    padding-top: 1em;
    font-family: "TheScaryMovie", sans-serif;
    text-shadow: 3px 3px #010101;

}
@media (min-width: 1080px) {
    .container__cover .top {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 2.5rem;
        justify-content: space-between;
        padding: 1em 2%;
        position: relative;
        margin-bottom: 0.3em;
    }
}
.container__cover .bottom {
    margin-top: 0.3em;
    padding-bottom: 1em;
}
@media (min-width: 860px) {
    .container__cover .bottom {
        margin-top: 1em;
    }
}
.container__cover .bottom svg {
    width: 4em;
}
.container__cover .info {
    font-size: 27px;
    backdrop-filter: blur(1px);
}
@media (min-width: 1400px) {
    .container__cover .info {
        font-size: 3rem;
    }
}
.container__cover .trax {
    font-size: 1.25em;
    line-height: 1;
    margin-top: 1em;
}
@media (min-width: 1080px) {
    .container__cover .mob {
        display: none;
    }
}
.container__cover .desk {
    display: none;
}
@media (min-width: 1080px) {
    .container__cover .desk {
        display: block;
    }
}
.footer {
    padding: 4em 0 3em;
}
.footer__group {
    margin-bottom: 3em;
}
.footer__group h3 {
    margin-bottom: 0.5em;
}
.footer__bottom {
    padding: 0 3%;
}
.footer__bottom .small {
    font-size: 14px;
}

.footer__bottom img {
    width: 100px;
}

.footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.container__infos {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container__infos .description {
    list-style-type: none;
}


.container__infos .description li {
    margin-top: 1rem;
}

@media (min-width: 860px) {
    .container__infos img {
        width: 20%;
    }
}


@media (max-width: 860px) {
    .container__infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }

    .container__infos img {
        margin: auto;
    }

    .container__infos div {
        margin-top: 2rem;
    }
}

.container__infos div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: left;
}

@media (min-width: 860px) {
    .container__infos div {
        margin-left: 10rem;
    }
}


.container__music {
    padding-bottom: 2em;
    font-size: 1rem;
}
.container__music a {
    display: block;
    position: relative;
    -webkit-transition: all 0.1s cubic-bezier(0.2, 0.45, 0.45, 1);
    -o-transition: all 0.1s cubic-bezier(0.2, 0.45, 0.45, 1);
    transition: all 0.1s cubic-bezier(0.2, 0.45, 0.45, 1);
}

.container__music a:last-child {
    margin-bottom: 32px;
}
.container__music a:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}
.container__music a .photo {
    border: 2px solid #000;
}
.container__music .name {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background: #f8ec7e;
    border: 2px solid black;
    color: #1f1f1a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    height: 64px;
    justify-content: center;
    left: 0;
    line-height: 1;
    padding: 0.1em 2%;
    text-transform: capitalize;
    width: 100%;
    margin-top: 11px;
}
@media (min-width: 860px) {
    .container__music .name {
        font-size: 24px;
        height: 74px;
    }
}
.container__music .overlay {
    background: #ed2e69;
    opacity: 0.5;
    color: #f8ec7e;
}

.container__music .overlay .more{
    font-size: 1rem;
}

.artist,
.artist-b2b {
    cursor: pointer;
    position: relative;
}

.artist:hover .overlay {
    opacity: 0.8;
    visibility: visible;
}

.artist-b2b:hover .overlay-b2b {
    opacity: 1;
    visibility: visible;
}

.artist-b2b .b2b {
    margin-top: 5px;
}

.artist .overlay,
.artist-b2b .overlay-b2b {
    border: 2px solid #000;
    opacity: 0;
    position: absolute;
    top: 0; /* Adjusted positioning to be below the artist element */
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.1s cubic-bezier(0.2, 0.45, 0.45, 1);
    visibility: hidden;
    z-index: 100;
    text-transform: uppercase;
    display: flex;
}

@media (min-width: 1080px) {
    .artist .overlay {
        display: flex;
        font-size: 50px;
        padding: 1em 0.6em;
    }
    .artist-b2b .overlay-b2b {
        display: flex;
        font-size: 50px;
        padding: 1em 0.6em;
    }
}

.artist .overlay > div,
.artist-b2b .overlay-b2b > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.artist .overlay > div div,
.artist-b2b .overlay-b2b > div div {
    line-height: 1;
}
.container__music.samedi .grid-list--artists .artists:not(.samedi),
.container__music.vendredi .grid-list--artists .artists:not(.vendredi) {
    display: none;
}

.container__photo {
    margin: auto;
    width: 95%;
}

.container__more {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
}

.container__more .small-container {
    margin: auto;
    margin-top: 1rem;
    font-size: 1.5rem;
}
.container__more .small-container .row__more {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    padding: 3rem;
}

@media (max-width: 860px) {
    .container__more .small-container .row__more {
        flex-direction: column;
        padding: unset;
        font-size: 1rem;
    }

}

.container__more .row__more > div:nth-child(2) {
    align-items: center;
    display: flex;
    flex-direction: row;
    min-width: 100%;
    padding: 3rem;
}


.container__more .small-container .row__more > div:nth-child(2) {
    text-align: left;
    text-decoration: none;
    list-style-type: none;
}

.container__more .small-container .row__more > div:nth-child(2) > ul:nth-child(1) {
    list-style-type: none;
}

.row__more > div:nth-child(2) {
    margin-left: 4rem;
}

@media (max-width: 860px) {

    .row__more > div:nth-child(2) {
        margin-left: 0;
    }

    .container__more .small-container {
        display: flex;
    }
}

.container__more .small-container iframe {
    width: 30vw;
    height: 40vh;
}

@media (max-width: 860px) {

    .container__more .small-container iframe {
        width: 90vw;
    }
}

.container__more .row__more > div:nth-child(2) > ul:nth-child(1) > li:nth-child(1) > a:nth-child(1) {
    margin-bottom: 1rem;
}

.container__more .row__more > div:nth-child(2) > ul:nth-child(1) > li:nth-child(1) {
    margin-bottom: 1rem;
}

.container__more .row__more > div:nth-child(2) > ul:nth-child(1) > li:nth-child(5) {
    margin-top: 1rem;
}


.container__acces {
    margin: 5rem auto auto;
    width: 60vw;
    padding-bottom: 0.5em;
}

@media (max-width: 860px) {
    .container__acces {
        width: 98%;
    }
}

.container__acces .big,
.container__acces .fat {
    margin-bottom: 0.5em;
}
.container__acces .jour {
    font-size: 18px;
    margin-top: 1em;
    text-transform: none;
}
@media (min-width: 860px) {
    .container__acces .jour {
        font-size: 24px;
        padding: 1em;
    }
}
.container__acces .jour > div {
    border: 2px solid #000;
    height: 100%;
    padding: 1em;
}
.container__acces .jour.nuit > div {
    background-color: #000;
    color: #fff;
}
.container__acces .jour p {
    text-align: left;
}
.container__acces .jour p:last-of-type {
    margin: 0;
}
.container__acces .jour em {
    border: 2px solid;
    border-color: inherit;

    display: inline-block;
    font-size: 0.6em;
    font-style: normal;
    margin-bottom: 0.5em;
    padding: 0.25em 1em;
    text-transform: uppercase;
}


.infos-rows {
    font-family: "TheScaryMovie", sans-serif;
    display: flex;
    flex-direction: column;
}

.info-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}
@media (min-width: 860px) {
    .info-row {
        flex-direction: row;
    }
}
.info-row > h4 {
    background: #1f1f1a;
    border: 2px solid #1f1f1a;

    box-sizing: border-box;
    color: #f8ec7e;
    margin: 0 1em 0.4em;
    padding: 0.2em;
    width: 100%;
}
@media (min-width: 860px) {
    .info-row > h4 {
        margin: 0 1em 0em;
        width: 300px;
    }
}
.info-tiny {
    background: #fff8e5;

    width: 100%;
    display: flex;
    justify-content: space-between;
}
.info-tiny > p {
    margin: 0.2em;
}
@media (max-width: 860px) {
    .info-tiny > p {
        font-size: 18px;
    }
}

.info-tiny > p:first-child {
    padding-left: 1em;
    text-align: left;
}
.info-tiny > p:last-child {
    padding-right: 1em;
}
.info-row > p {
    background: #fff8e5;

    width: 100%;
}
@keyframes shake {
    0% {
        transform: translateX(-10px) rotateZ(5deg);
    }
    50% {
        transform: translateX(10px) rotateZ(-5deg);
    }
    100% {
        transform: translateX(-10px) rotateZ(5deg);
    }
}

/* Slide in */
.underline-effect {
    background:
            linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
            linear-gradient(to right, #41ad90, #d11e58, #63b0be);
    background-position: 100% 100%, 50% 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    background-size: 0 0.4em, 100% 0.4em;
}

.border-annimation {
}


.scroll-border {
    margin: 50px auto;
    padding: 8px;
    position: relative;
}

.scroll-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, #41ad90, #d11e58, #63b0be); /* Dégradé de bordure */
    transition: width 1s ease; /* Transition fluide de la largeur */
    z-index: -1; /* Assure que le dégradé est en arrière-plan */
}

.scroll-border.scrolled::before {
    width: 100%;
}


.loader {
    margin: auto;
    margin-bottom: 5rem;
    width: 32px;
    height: 16px;
    display: flex;
    animation: l9-0 1s infinite;
}
.loader:before,
.loader:after {
    content: "";
    flex: 1;
    background: #41ad90;
    transform-origin: top right;
    animation: l9-1 1s infinite;
}
.loader:after {
    background: #d11e58;
    transform-origin: top left;
    --s:-1;
}
@keyframes l9-0 {
    100% {transform: translateY(100%)}
}
@keyframes l9-1 {
    100% {transform: rotate(calc(var(--s,1)*90deg))}
}

figure.img-effect {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #000000;
    text-align: left;
}
figure.img-effect * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
figure.img-effect img {
    max-width: 100%;
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
figure.img-effect figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 3em;
    width: 100%;
    height: 100%;
}
figure.img-effect figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 100%;
    border-left: 4px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
figure.img-effect h2,
figure.img-effect p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.img-effect h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(30%, 0%, 0);
    transform: translate3d(30%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
figure.img-effect h2 span {
    font-weight: 800;
}
figure.img-effect p {
    font-weight: 200;
    -webkit-transform: translate3d(0%, 30%, 0);
    transform: translate3d(0%, 30%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
figure.img-effect a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
}
figure.img-effect:hover img, figure.img-effect:active img {
    opacity: 0.3;
}
figure.img-effect:hover figcaption h2, figure.img-effect:active figcaption h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
figure.img-effect:hover figcaption p, figure.img-effect:active figcaption p {
    opacity: 0.9;
    -webkit-transform: translate3d(0%, 0%, 0);
    font-size: 0.9rem;
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
@media (max-width: 860px) {
    figure.img-effect:hover figcaption p, figure.img-effect:active figcaption p {
        font-size: 10px;
    }
}

figure.img-effect:hover figcaption::before , figure.img-effect:active figcaption::before {
    background: rgba(255, 255, 255, 0);
    left: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
