{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
      {{- .Content -}}
    </section>
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      <section class="w-100 mw8">
          {{/* Range through the first $n_posts items of the section */}}
          {{ range .Paginator.Pages }}
            <div class="relative w-100 mb4">
              {{ partial "summary-with-image.html" . }}
            </div>
          {{ end }}
        </section>
      </div>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}