backend:
  name: git-gateway

media_folder: 'static/images' # Folder where user uploaded files should go
public_folder: '/images'

collections: # A list of collections the CMS should be able to edit
  - name: 'playlists' # Used in routes, ie.: /admin/collections/:slug/edit
    label: 'Playlist' # Used in the UI, ie.: "New Post"
    folder: 'content/playlists' # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    fields: # The fields each document in this collection have
      - { label: 'Description', name: 'description', widget: 'text' }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Image Path (Il faut uploader l image dans l onglet média)', name: 'featured_image', widget: 'string' }
      - { label: 'Date', name: 'date', widget: 'datetime' }
      - { label: 'Grande banière (Ne pas activer pour les Playlists)', name: 'display_featured_image', widget: 'boolean' }
      - { label: 'Author', name: 'author', widget: 'string' }
      - { label: 'Illustrator', name: 'illustrator', widget: 'string' }
      - { label: 'Playlist ID', name: 'playlist', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
  - name: 'news' # Used in routes, ie.: /admin/collections/:slug/edit
    label: 'Actualités' # Used in the UI, ie.: "New Post"
    folder: 'content/news' # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    fields: # The fields each document in this collection have
      - { label: 'Description', name: 'description', widget: 'text' }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Image Path (Il faut uploader l image dans l onglet média)', name: 'featured_image', widget: 'string' }
      - { label: 'Date', name: 'date', widget: 'datetime' }
      - { label: 'Grande banière (Ne pas activer pour les Playlists)', name: 'display_featured_image', widget: 'boolean' }
      - { label: 'Playlist ID', name: 'playlist', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }